%svg-common {
	background: url(svg/sprite.css.svg) no-repeat;
}

.svg-src--images--raw-svgs--books8 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-src--images--raw-svgs--books8-dims {
	width: 84px;
	height: 84px;
}

.svg-src--images--raw-svgs--facebook29 {
	@extend %svg-common;
	background-position: 0 12.138728323699421%;
}

.svg-src--images--raw-svgs--facebook29-dims {
	width: 84px;
	height: 84px;
}

.svg-src--images--raw-svgs--instagram19 {
	@extend %svg-common;
	background-position: 0 23.784242939052877%;
}

.svg-src--images--raw-svgs--instagram19-dims {
	width: 69.65px;
	height: 69.65px;
}

.svg-src--images--raw-svgs--iphone26 {
	@extend %svg-common;
	background-position: 0 32.66717909300538%;
}

.svg-src--images--raw-svgs--iphone26-dims {
	width: 47.44px;
	height: 47.44px;
}

.svg-src--images--raw-svgs--multiple25 {
	@extend %svg-common;
	background-position: 0 41.32947976878613%;
}

.svg-src--images--raw-svgs--multiple25-dims {
	width: 84px;
	height: 84px;
}

.svg-src--images--raw-svgs--settings48 {
	@extend %svg-common;
	background-position: 0 53.46820809248555%;
}

.svg-src--images--raw-svgs--settings48-dims {
	width: 84px;
	height: 84px;
}

.svg-src--images--raw-svgs--three115 {
	@extend %svg-common;
	background-position: 0 65.60693641618496%;
}

.svg-src--images--raw-svgs--three115-dims {
	width: 84px;
	height: 84px;
}

.svg-src--images--raw-svgs--twitter {
	@extend %svg-common;
	background-position: 0 76.1662065548241%;
}

.svg-src--images--raw-svgs--twitter-dims {
	width: 69.65px;
	height: 69.65px;
}

.svg-src--images--raw-svgs--users6 {
	@extend %svg-common;
	background-position: 0 87.86127167630057%;
}

.svg-src--images--raw-svgs--users6-dims {
	width: 84px;
	height: 84px;
}

.svg-src--images--raw-svgs--web58 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-src--images--raw-svgs--web58-dims {
	width: 84px;
	height: 84px;
}

